.wmtry-overlay,.wmtry-grid,.wmtry-grid-break,.wmtry-measurement-tape {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
}

.wmtry-overlay * {
  user-select: none;
}

.wmtry-overlay {
  z-index: 9999999;
  display: none;
}

.wmtry-overlay.v-visible {
  display: block;
}

.wmtry-grid {
  pointer-events: none;
  z-index: 500;
}

.wmtry-grid-break {
  display: flex;
  opacity: 0;
}

.wmtry-grid-break.v-visible {
  opacity: 1;
}

.wmtry-axle {
  position: fixed;
  user-select: none;
  z-index: 600;
}

.wmtry-axle.o-horizontal {
  top: 0; left: 0; right: 0;
  height: 10px;
}

.wmtry-axle.o-vertical {
  top: 0; left: 0; bottom: 0;
  width: 10px;
}

.wmtry-marker, .wmtry-grip {
  position: absolute;
}

.wmtry-marker {
  z-index: 100;
}

.wmtry-grip {
  pointer-events: all;
  cursor: pointer;
  z-index: 200;
}

.wmtry-axle.o-horizontal .wmtry-marker {
  top: 50%; left: 0; right: 0;
  transform: translateY(-50%);
  height: 1px;
  mix-blend-mode: difference;
}

.wmtry-axle.o-vertical .wmtry-marker {
  top: 0; left: 50%; bottom: 0;
  transform: translateX(-50%);
  width: 1px;
  mix-blend-mode: difference;
}

.wmtry-axle.o-horizontal .wmtry-grip {
  top: 0; bottom: 0;
  width: 8px;
  mix-blend-mode: difference;
}

.wmtry-axle.o-vertical .wmtry-grip {
  left: 0; right: 0;
  height: 8px;
  mix-blend-mode: difference;
}

.wmtry-axle.o-horizontal .wmtry-grip.a-piece {
  left: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.wmtry-axle.o-horizontal .wmtry-grip.b-piece {
  right: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.wmtry-axle.o-vertical .wmtry-grip.a-piece {
  top: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.wmtry-axle.o-vertical .wmtry-grip.b-piece {
  bottom: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.wmtry-axle .wmtry-position-label {
  pointer-events: none;
  display: inline-block;
  position: absolute;
  font-family: monospace;
  font-size: 8px;
  color: black;
  mix-blend-mode: difference;
  top: 50%;
  left: 50%;
  transition: transform 200ms 50ms ease-in-out;
}

.wmtry-axle.o-vertical .wmtry-position-label {
  top: 50%;
}

.wmtry-axle.o-horizontal .wmtry-position-label {
  left: 50%;
}

.wmtry-measurement-tape {
  pointer-events: none;
  z-index: 700;
}

.wmtry-measurement-tape .wmtry-grip {
  border-radius: 50%;
  opacity: 0.3;
  width: 8px;
  height: 8px;
  position: absolute;
}

.wmtry-measurement-tape .wmtry-grip.s-dragging .wmtry-level.t-fixed {
  width: 80px;
  opacity: 1;
}

.wmtry-measurement-tape .wmtry-grip.s-dragging .wmtry-level.t-oriented {
  width: 100vw;
  opacity: 1;
}

.wmtry-measurement-tape .wmtry-connector {
  position: absolute;
  height: 1px;
  transform-origin: center center;
}

.wmtry-measurement-tape .wmtry-connector::after,
.wmtry-measurement-tape .wmtry-connector::before {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: monospace;
  font-size: 8px;
  mix-blend-mode: difference;
}

.wmtry-measurement-tape .wmtry-connector::after {
  bottom: 4px;
  content: attr(data-angle);
}

.wmtry-measurement-tape .wmtry-connector::before {
  top: 4px;
  content: attr(data-distance);
}

.wmtry-measurement-tape .wmtry-level {
  position: absolute;
  height: 1px;
  mix-blend-mode: difference;
  width: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 0.5;
  transition: width 150ms ease-in-out, height 150ms ease-in-out, opacity, 150ms ease-in-out;
}

.wmtry-measurement-tape .wmtry-level.o-vertical {
  transform: translate(-50%, -50%) rotate(90deg);
}

.wmtry-measurement-tape .wmtry-level-base {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.wmtry-info {
  position: fixed;
  bottom: 4px;
  left: 4px;
  color: black;
  mix-blend-mode: difference;
  font-family: monospace;
  font-size: 10px;
}